<!doctype html>
<html>
  <head><meta charset="utf-8"><title>Hello</title></head>
  <body>
    <h1>Hello from {{ inventory_hostname }}!</h1>
    <p><center><b>by top_sysadmin using Ansible!</b></center></p>
  </body>
</html>
