---
- name: Обновить кэш apt
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Установить базовые пакеты
  ansible.builtin.apt:
    name:
      - net-tools
      - dnsutils
      - wget
      - curl
      - mc
      - rsync
    state: present

- name: Установить hostname по имени хоста из inventory
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
